@import "tailwindcss";

@theme {
  --text-3xl: 32px;
  --text-3xl--line-height: 42px;

  --text-2xl: 24px;
  --text-2xl--line-height: 32px;

  --text-xl: 20px;
  --text-xl--line-height: 32px;

  --text-2lg: 18px;
  --text-2lg--line-height: 26px;

  --text-lg: 16px;
  --text-lg--line-height: 26px;

  --text-md: 14px;
  --text-md--line-height: 24px;

  --text-sm: 13px;
  --text-sm--line-height: 22px;

  --text-xs: 12px;
  --text-xs--line-height: 20px;

  /* Black */
  --color-black-100: #d9d9d9;
  --color-black-200: #777777;
  --color-black-300: #4b4b4b;
  --color-black-400: #333333;
  --color-black-500: #000000;

  /* Green */
  --color-green-100: #e3ea8f;
  --color-green-200: #c3e956;
  --color-green-300: #62aa1b;
  --color-green-400: #4d7111;
  --color-blue-500: #076653;
  --color-blue-600: #1f4b2c;

  /* Error */
  --color-error-100: #ff6577;
}

body {
  font-family: var(--font-pretendard);
  min-width: 375px;
}
